<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HOBBY</display-name>
  <welcome-file-list>
    <welcome-file>content.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewClass</display-name>
    <servlet-name>NewClass</servlet-name>
    <servlet-class>NewClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClass</servlet-name>
    <url-pattern>/NewClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewClass2</display-name>
    <servlet-name>NewClass2</servlet-name>
    <servlet-class>NewClass2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClass2</servlet-name>
    <url-pattern>/NewClass2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cool</display-name>
    <servlet-name>cool</servlet-name>
    <servlet-class>cool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cool</servlet-name>
    <url-pattern>/cool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CONTROL</display-name>
    <servlet-name>CONTROL</servlet-name>
    <servlet-class>CONTROL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CONTROL</servlet-name>
    <url-pattern>/CONTROL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>k</display-name>
    <servlet-name>k</servlet-name>
    <servlet-class>k</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>k</servlet-name>
    <url-pattern>/k</url-pattern>
  </servlet-mapping>
</web-app>